<div class="mt-5 offset-md-1 col-md-10 col-sm-12 offset-sm-0">
  <div class="row">
    <div class="col">
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="font-weight-normal">Manage your Team<span *ngIf="league">: {{league.name}}</span></h4>
        </div>
        <div class="card-body">
          <div class="row mb-3 mt-3">
            <div class="col-12">
              <div class="row">
                <div class="col-md-4 mb-3">
                  <label for="teamName">Team name</label>
                  <input type="text" class="form-control" id="teamName"
                         placeholder="e.g. BH-Fantasy Team" [(ngModel)]="team.name">
                  <div class="invalid-feedback">
                    Valid team name is required.
                  </div>
                </div>
                <div class="row mb-3 ml-md-3 ml-lg-3 ml-sm-0 align-items-end update">
                  <button (click)="saveTeam(team)" class="btn btn-primary btn-lg btn-block" *ngIf="team.id" type="submit">Update</button>
                  <button (click)="saveTeam(team)" class="btn btn-primary btn-lg btn-block" *ngIf="!team.id" type="submit">Create</button>
                </div>
              </div>
              <div *ngIf="team.id && team.players" class="row mt-3">
                <div class="col-md-5 mb-3">
                  <div class="row mb-3">
                    <label for="teamName">Available players ({{!filterType ? playersMap.size : filteredPlayersMap.size}})</label>
                    <select class="form-control" (change)="selectType($event.target.value)">
                      <option *ngFor="let type of playerTypes">{{type}}</option>
                    </select>
                  </div>
                  <div class="row mb-3">
                    <input class="form-control" placeholder="Search..." (keyup)="search($event.target.value)" />
                  </div>
                  <cdk-virtual-scroll-viewport itemSize="57" class="players-container">
                    <table class="table table-bordered table-hover">
                      <tr *cdkVirtualFor="let playerEntry of (filterType || searchValue ? filteredPlayersMap : playersMap) | keyvalue">
                        <td>
                          <a class="link-to" (click)="selectPlayer(playerEntry.value)">
                            <div class="image image-small float-left mr-md-0 mr-sm-0" *ngIf="playerEntry.value.profilePicture">
                              <img [src]="playerEntry.value.profilePicture" class="img-fluid">
                            </div>
                            {{playerEntry.value.fullName}}
                            <span class="float-right">{{getPlayerType(playerEntry.value)}}</span>
                            <span class="float-right mr-3">{{playerEntry.value.marketValueRaw}}</span>
                          </a>
                        </td>
                      </tr>
                    </table>
                  </cdk-virtual-scroll-viewport>
                </div>
                <div class="col-md-2 icons-left-right text-center">
                  <span class="icons-sprite bh-icon-arrow-left"></span>
                  <span class="icons-sprite bh-icon-arrow-right"></span>
                </div>
                <div class="col-md-5 mb-3">
                  <label for="teamName">Selected players ({{team.players.length}})</label>
                  <cdk-virtual-scroll-viewport itemSize="57" class="players-container selected">
                    <table class="table table-bordered table-hover">
                      <tr *cdkVirtualFor="let player of team.players">
                        <td>
                          <div class="image image-small float-left mr-md-0 mr-sm-0" *ngIf="player.profilePicture">
                            <img [src]="player.profilePicture" class="img-fluid">
                          </div>
                          {{player.fullName}}<span class="float-right">{{getPlayerType(player)}}</span>
                          <span class="float-right mr-3">{{player.marketValueRaw}}</span>
                        </td>
                      </tr>
                    </table>
                  </cdk-virtual-scroll-viewport>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
