<ng-container *ngIf="match">
  <div class="row mt-5 mb-4">
    <div class="col-md-12 text-center">
      <h2 class="text-black">Match info</h2>
    </div>
  </div>
  <div class="pl-sm-5 col-sm-12 pr-sm-5 offset-lg-1 col-lg-10 site-blocks-vs">
    <div class="row">
      <div class="col-md-4 col-lg-4 mb-4 mb-lg-0">
        <div class="text-center text-lg-left">
          <div class="team-info d-block d-lg-flex align-items-center">
            <div class="image image-small text-center mb-3 mb-lg-0 mr-lg-3" *ngIf="match.team1.profilePicture">
              <img [src]="match.team1.profilePicture" alt="Image" class="img-fluid">
            </div>
            <div class="text mb-2 w-100">
              <h3 class="h5 mb-0 text-black">{{match.team1.name}}</h3>
            </div>
            <div class="w-100">
              <ng-container *ngFor="let goal of match.goals;">
                <div *ngIf="isPlayingFor(goal.player, goal.ownGoal ? match.lineup2 : match.lineup1)" class="float-right w-100">
                  <small class="goal-info float-lg-right text-right">{{goal.player.fullName}} - {{goal.minute}}'</small>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-4 text-center mb-4 mb-lg-0">
        <div class="d-inline-block">
          <div class="bg-black py-2 px-4 mb-2 text-white d-inline-block rounded">
            <span class="h5">{{match.score1}}:{{match.score2}}</span>
          </div>
          <p class="mb-0" *ngIf="match.dateTime">
            <small class="text-uppercase text-black font-weight-bold d-block">{{match.dateTime | date : 'EEEE, MMM d, y'}}</small>
            <small class="text-uppercase text-black font-weight-bold d-block">{{match.dateTime | date : 'h:mm a'}}</small>
          </p>
        </div>
      </div>

      <div class="col-md-4 col-lg-4 text-center text-lg-right">
        <div class="">
          <div class="team-info d-block d-lg-flex align-items-center">
            <div class="image image-small ml-lg-3 mb-3 mb-lg-0 order-2" *ngIf="match.team2.profilePicture">
              <img [src]="match.team2.profilePicture" alt="Image" class="img-fluid">
            </div>
            <div class="text order-1 w-100 mb-2">
              <h3 class="h5 mb-0 text-black">{{match.team2.name}}</h3>
            </div>
            <div class="w-100">
              <ng-container *ngFor="let goal of match.goals;">
                <div *ngIf="isPlayingFor(goal.player, goal.ownGoal ? match.lineup1 : match.lineup2)" class="float-left w-100">
                  <small class="goal-info float-lg-left text-left" >{{goal.player.fullName}} - {{goal.minute}}'</small>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-lg-6 col-sm-12">
        <app-lineup [playerEvents]="playerEventsLineup1" [lineup]="match.lineup1"></app-lineup>
      </div>
      <div class="col-lg-6 col-sm-12">
        <app-lineup [playerEvents]="playerEventsLineup2" [lineup]="match.lineup2"></app-lineup>
      </div>
    </div>
  </div>
</ng-container>
