<ng-container *ngIf="league">
  <div class="row pt-4">
    <div class="col-md-12 text-center">
      <h2 class="text-black">{{league.name}}</h2>
    </div>
  </div>

  <div class="offset-2 col-8">
    <app-fixtures [league]="league"></app-fixtures>
  </div>

  <div class="row site-section">
    <div class="offset-1 col-6">
      <div class="row mb-5">
        <div class="col-md-12 text-center">
          <a (click)="scrollOnTop($event)" routerLink="/leagues/{{leagueId}}/standings"><h2 class="text-black">Standings</h2></a>
        </div>
      </div>
      <app-standings [showHeader]="false"></app-standings>
    </div>
    <div class="pl-5 col-4">
      <div class="row mb-5">
        <div class="col-md-12 text-center">
          <a (click)="scrollOnTop($event)" routerLink="/leagues/{{leagueId}}/top-players"><h2 class="text-black">Top Players</h2></a>
        </div>
      </div>
      <app-top-players limit="10" [showHeader]="false"></app-top-players>
    </div>
  </div>
</ng-container>
