.profile-image img {
  max-width: 100%;
  height: 250px;
}

.team-profile-picture img {
  width: 100%;
}

.table.leagues {
  font-size: 14px;
  font-weight: 400;
}

.stats .card-header h6 {
  font-size: 12px;
  margin: 0;
}

.player-info-container {
  min-width: 255px;
}
