img {
  max-width: 100%;
  height: 300px;
}
.player-name{
  font-size: 30px;
  font-style: bold;
  font-family: Ivy;
  color: #000;
  right: 30px;
}

.player-birthday{
  font-size: 30px;
  font-style: bold;
  font-family: Ivy;
  color: #000;
}

.player-type{
  font-size: 30px;
  font-style: bold;
  font-family: Ivy;
  color: #000;
}

.player-market-value{
  font-size: 30px;
  font-style: bold;
  font-family: Ivy;
  color: #000;
}
