<div class="mt-5 offset-1 col-10" *ngIf="player">
  <div class='row'>
    <div class='col'>
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">{{player.fullName}}</h4>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-3 player-info-container">
              <div class='img profile-image'>
                <img src="{{player.profilePicture}}">
              </div>
              <h2 class="card-title pricing-card-title">{{player.marketValueRaw}}</h2>
              <ul class="list-unstyled mt-3 mb-2">
                <li>Birth date: {{player.birthDate}} ({{player.yearsCount}})</li>
                <li>Position: {{player.positionName}}</li>
              </ul>
            </div>
            <div class="col-lg-5">
              <div class="row">
                <ng-container *ngFor="let team of player.teams;">
                  <div class="card col-12 p-0 shadow-sm mb-4">
                    <div class="card-header">
                      <h6 class="my-0 font-weight-normal">{{team.name}}</h6>
                    </div>
                    <div class="card-body pl-2 pr-2">
                      <div class="row">
                        <div class="col-2">
                          <div class='img team-profile-picture'>
                            <img src="{{team.profilePicture}}">
                          </div>
                        </div>
                        <div class="col-10">
                          <table class="table table-bordered leagues">
                            <tr *ngFor="let league of team.leagues">
                              <td><a class="link-to" (click)="openStats(team, league)">{{league.name}}</a></td>
                              <td>{{league.season}}</td>
                            </tr>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card col-12 p-0 shadow-sm mb-4 stats">
                <div class="card-header">
                  <h6 class="font-weight-normal">
                    Stats<span *ngIf="statsTeam"> for {{statsTeam.name}}</span>
                    <span *ngIf="statsLeague"> / {{statsLeague.name}}</span></h6>
                </div>
                <div class="m-5 text-center">
                  TODO
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

