<div class="site-section offset-1 col-10" *ngIf="player">
  <div class="row mb-5">
    <div class="col-md-12 text-center">
      <h2 class="text-black">Player Info</h2>
    </div>
  </div>
  <div class='card-body'>
    <div class='row'>
      <div class='col-md-8'>
        <div class='img profile-image'>
          <img src="{{player.profilePicture}}">
        </div>
        <div class='row'>
          <div class='player-name'>Name: </div>
          <div class='player-name'>{{player.fullName}}</div>
        </div>
        <div class='row'>
          <div class='player-birthday'>Birth date: </div>
          <div class='player-birthday'>{{player.birthDate}}</div>
        </div>
        <div class='row'>
          <div class='player-type'>Position: </div>
          <div class='player-type'>{{player.type}}</div>
        </div>
        <div class='row'>
          <div class='player-market-value'>Market value: </div>
          <div class='player-market-value'>{{player.marketValueRaw}}</div>
        </div>
      </div>
    </div>
  </div>
</div>

