<div class="lineups-content">
  <div class="lineups-pane lineups-pane-home">
    <div class="lineups-terrain lineups-terrain-home">

    </div>
  </div>
  <div class="lineups-pane lineups-pane-away">
    <div class="lineups-terrain lineups-terrain-away">

    </div>
  </div>
  <div class="lineups-players">
    <div class="player goalkeeper">
      <span class="team-number">9</span>
      <div class="player-name">Dzeko</div>
    </div>
    <div class="player defender-1">
      <span class="team-number">9</span>
      <div class="player-name">Dzeko</div>
    </div>
    <div class="player defender-2">
      <span class="team-number">9</span>
      <div class="player-name">Dzeko</div>
    </div>
    <div class="player defender-3">
      <span class="team-number">9</span>
      <div class="player-name">Dzeko</div>
    </div>
    <div class="player defender-3-3">
      <span class="team-number">9</span>
      <div class="player-name">Dzeko</div>
    </div>
    <div class="player defender-5">
      <span class="team-number">9</span>
      <div class="player-name">Dzeko</div>
    </div>
    <div class="player middler-1">
      <span class="team-number">9</span>
      <div class="player-name">Dzeko</div>
    </div>
    <div class="player middler-2">
      <span class="team-number">9</span>
      <div class="player-name">Dzeko</div>
    </div>
    <div class="player middler-3">
      <span class="team-number">9</span>
      <div class="player-name">Dzeko</div>
    </div>
    <div class="player striker-3-2">
      <span class="team-number">9</span>
      <div class="player-name">Dzeko</div>
    </div>
    <div class="player striker-3-3">
      <span class="team-number">9</span>
      <div class="player-name">Dzeko</div>
    </div>
  </div>
</div>
