.lineups-terrain {
  position: relative;
  min-height: 100%;
  min-width: 100%;
  background-color: #bee9af;
  border: 2px solid #e5f6df;
}

.lineups-terrain-home {
  background: url("../../assets/svg/lineups_goal.svg") left no-repeat,url("../../assets/svg/lineups_center.svg") right no-repeat,linear-gradient(to right, #cbedbf 20%, #bee9af 20%, #bee9af 40%, #cbedbf 40%, #cbedbf 60%, #bee9af 60%, #bee9af 80%, #cbedbf 80%)
;
}

.lineups-terrain-away {
  border-left: none;
  background: url("../../assets/svg/lineups_goal_away.svg") right no-repeat,url("../../assets/svg/lineups_center_away.svg") left no-repeat,linear-gradient(to right, #bee9af 20%, #cbedbf 20%, #cbedbf 40%, #bee9af 40%, #bee9af 60%, #cbedbf 60%, #cbedbf 80%, #bee9af 80%);
}

.lineups-pane {
  top: 0;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
  border: 6px solid #bee9af;
}

.lineups-pane-home {
  border-right: none;
  width: 50%;
}

.lineups-pane-away {
  border-left: none;
  width: 50%;
}

.lineups-content {
  position: relative;
  display: flex;
  min-height: 350px;
}

.lineups-players {
  position: absolute;
  width: 100%;
  height: 100%;
}

.player {
  height: 60px;
  width: 80px;
  font-size: 13px;
  padding: 5px;
  cursor: pointer;
}

.no-player {
  height: 60px;
  width: 80px;
  visibility: hidden;
}

.players-container {
  position: absolute;
  display: grid;
  height: 100%;
  width: 80px;
  align-items: center;
}

.line-1, .goalkeeper, .goalkeaper {
  left: 0;
}

.line-2, .defender {
  left: 15%;
}

.line-3, .middle {
  left: 30%;
}

.line-4, .middle {
  left: 45%;
}

.line-5, .striker {
  left: 60%;
}

.line-6, .striker {
  left: 75%;
}

.player-name {
  text-shadow: 1px 1px 1px #fff;
  color: #000;
  text-align: center;
}

.player .team-number {
  width: 22px;
  height: 22px;
  background: #000;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  border: 1px solid;
  display: block;
  margin-right: auto;
  margin-left: auto;
  font-size: 12px;
}

.player .team-number > span {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.player .position {
  font-size: 14px;
  color: #b3b3b3;
  text-transform: uppercase;
}

.substitutions-container .player {
  transform: none;
  width: 100%;
  height: 100%;
}

.substitutions-container .team-number {
  float: left;
}

.substitutions-container .player-name {
  text-align: left;
  display: inline-block;
}

.substitutions-container .icons-container {
  position: initial !important;
}

.player .icons-container {
  width: 100%;
  text-align: center;
  padding-left: 4px;
}
