.lineups-terrain {
  position: relative;
  height: 420px;
  background-color: #bee9af;
  border: 2px solid #e5f6df;
}

.lineups-terrain-home {
  background: url("../../assets/svg/lineups_goal.svg") left no-repeat,url("../../assets/svg/lineups_center.svg") right no-repeat,linear-gradient(to right, #cbedbf 20%, #bee9af 20%, #bee9af 40%, #cbedbf 40%, #cbedbf 60%, #bee9af 60%, #bee9af 80%, #cbedbf 80%)
;
}

.lineups-terrain-away {
  border-left: none;
  background: url("../../assets/svg/lineups_goal_away.svg") right no-repeat,url("../../assets/svg/lineups_center_away.svg") left no-repeat,linear-gradient(to right, #bee9af 20%, #cbedbf 20%, #cbedbf 40%, #bee9af 40%, #bee9af 60%, #cbedbf 60%, #cbedbf 80%, #bee9af 80%);
}

.lineups-pane {
  top: 0;
  #position: absolute;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
  border: 6px solid #bee9af;
}

.lineups-pane-home {
  border-right: none;
}

.lineups-pane-away {
  border-left: none;
}

.lineups-content {
  position: relative;
  width: 100%;
  overflow: hidden;
}
