<div class="lineups-wrapper">
  <div class="text-center mt-3 mb-3">
    <div>
      <span>Formation: {{formation}}</span>
    </div>
  </div>
  <div class="lineups-content">
    <div class="lineups-pane lineups-pane-home">
      <div class="lineups-terrain lineups-terrain-home">

      </div>
    </div>
    <div class="lineups-pane lineups-pane-away">
      <div class="lineups-terrain lineups-terrain-away">

      </div>
    </div>
    <div class="lineups-players" *ngIf="lineup && playerTypeClasses">
      <div *ngFor="let type of startingPlayersKeys" class="players-container" ngClass="{{type.toLowerCase()}}">
        <div *ngFor="let player of startingPlayers.get(type)" class="player">
          <span class="team-number">{{player.numberoOnDress}}</span>
          <div class="player-name">{{player.lastName}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
