<div class="site-wrap">

  <div class="site-mobile-menu">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-logo">
        <a href="#"><img src="assets/images/logo.png" alt="Image"></a>
      </div>
      <div class="site-mobile-menu-close mt-3">
        <span class="icon-close2 js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div>

  <header class="site-navbar absolute transparent" role="banner">
    <div class="py-3"></div>
    <nav class="site-navigation position-relative text-right bg-black text-md-right" role="navigation">
      <div class="container position-relative">
        <div class="site-logo">
          <a href="index.html"><img src="assets/images/logo.png" alt=""></a>
        </div>

        <div class="d-inline-block d-md-none ml-md-0 mr-auto py-3"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>

        <ul class="site-menu js-clone-nav d-none d-md-block">
          <li class="float-left"><a class="website-slogan">ONE TOWN, ONE TEAM, ONE DREAM!</a></li>
          <li class="has-children">
            <a routerLink="/leagues">Leagues</a>
            <ul class="dropdown arrow-top">
              <ng-container *ngFor="let value of leagues | async">
                <li class="has-children" *ngIf="value.type == LeagueType.RegularLeague">
                  <a routerLink="/leagues/{{value.id}}">{{value.name}}</a>
                  <ul class="dropdown">
                    <li><a routerLink="/leagues/{{value.id}}/standings">Standings</a></li>
                    <li><a routerLink="/leagues/{{value.id}}/top-players">Top Players</a></li>
                  </ul>
                </li>
              </ng-container>
            </ul>
          </li>
          <li class="has-children">
            <a routerLink="/leagues">Fantasy</a>
            <ul class="dropdown arrow-top">
              <ng-container *ngFor="let value of leagues | async">
                <li *ngIf="value.type == LeagueType.FantasyLeague"><a routerLink="/leagues/{{value.id}}">{{value.name}}</a></li>
              </ng-container>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <router-outlet></router-outlet>

  <footer class="site-footer border-top">
    <div class="container">
      <div class="row pt-5 mt-5 text-center">
        <div class="col-md-12">
          <p>BH-FANTASY</p>
          <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
        </div>
      </div>
    </div>
  </footer>
</div>
