.match-link {
  color: #fff;
}

.round-navigation-button a {
  width: 40px;
}

@media (max-width: 900px) {
  .round-navigation-right, .round-navigation-left {
    display: none;
  }
}

.match-entry {
  flex-wrap: unset;
}
