<div ngClass="{{standalone ? 'site-section offset-1 col-10' : ''}}">
  <div class="row mb-5" *ngIf="standalone">
    <div class="col-md-12 text-center">
      <h2 class="text-black">Standings</h2>
    </div>
  </div>
  <div class="feature-matchs">
    <table class="table table-bordered table-hover">
      <thead>
      <tr>
        <th>#</th>
        <th>Team</th>
        <th>Points</th>
        <th>Won</th>
        <th>Draw</th>
        <th>Lose</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let value of standings; let i = index">
          <td>{{i + 1}}</td>
          <td><img src="images/img-01_004.png" alt="">{{value.teamName}}</td>
          <td><b>{{value.points}}</b></td>
          <td>{{value.won}}</td>
          <td>{{value.draw}}</td>
          <td>{{value.lose}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
