<div ngClass="{{showHeader ? 'site-section offset-1 col-10' : ''}}">
  <div class="row mb-5" *ngIf="showHeader">
    <div class="col-md-12 text-center">
      <h2 class="text-black">Standings</h2>
    </div>
  </div>
  <div class="feature-matchs">
    <table class="table table-bordered table-hover">
      <thead>
      <tr>
        <th>#</th>
        <th>Team</th>
        <th>Played</th>
        <th>Won</th>
        <th>Draw</th>
        <th>Lose</th>
        <th>Goals Scored</th>
        <th>Goals Conceded</th>
        <th>Goals Difference</th>
        <th>Points</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let value of standings; let i = index">
          <td>{{i + 1}}</td>
          <td>
            <div class="image image-small float-left mr-2" *ngIf="value.profilePicture">
              <img [src]="value.profilePicture" class="img-fluid">
            </div>
            <div class="float-left">{{value.teamName}}</div>
          </td>
          <td>{{value.counterPlayed}}</td>
          <td>{{value.won}}</td>
          <td>{{value.draw}}</td>
          <td>{{value.lose}}</td>
          <td>{{value.goalsScored}}</td>
          <td>{{value.goalsConceded}}</td>
          <td>{{value.goalsDifference}}</td>
          <td><b>{{value.points}}</b></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
