.image-small {
  width: 20px;
}


.full-view-button {
  padding: 2px 8px 2px 0;
}

@media (max-width: 500px) {
  .partial-view {
    display: none;
  }
}

@media (max-width: 700px) {
  .standings {
    font-size: 12px;
  }

  th {
    font-size: 10px;
  }
}

@media (max-width: 600px) {
  .full-view {
    display: none;
  }

  .standings {
    font-size: 12px;
  }
}

.order-number {
  width: 46px;
}

.points {
  width: 58px;
}
