<div ngClass="{{showHeader ? 'site-section offset-1 col-10' : ''}}">
  <div class="row mb-5" *ngIf="showHeader">
    <div class="col-md-12 text-center">
      <h2 class="text-black">Top Players</h2>
    </div>
  </div>
  <div class="feature-matchs">
    <table class="table table-bordered table-hover">
      <thead>
      <tr>
        <th>#</th>
        <th>Player</th>
        <th *ngIf="topPlayers && topPlayers.length && topPlayers[0].points != null">Points</th>
        <th>Goals scored</th>
        <th>Assists made</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let value of topPlayers; let i = index">
        <td>{{i + 1}}</td>
        <td>{{value.fullName}}</td>
        <td *ngIf="value.points != null"><b>{{value.points}}</b></td>
        <td><b>{{value.goalsScored}}</b></td>
        <td><b>{{value.assistsMade}}</b></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
