.image.image-small {
  width: 20px;
  flex: 0 0 20px;
}

.name-container {
  display: inline-flex;
}

th {
  font-size: 14px;
}

.full-view-button {
  padding: 2px 8px 2px 0;
}

@media (max-width: 800px) {
  .full-view {
    display: none;
  }
}
